* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #222831;
}

/* przyciski */

nav.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.main,
.reset,
.lap,
.pause,
.resetLap {
    margin: 20px 10px 0 10px;
    padding: 10px 10px;
    font-size: 20px;
    border: 0;
    color: #222831;
    background-color: #00adb5;
    transition: .5s;
}

.main:hover,
.reset:hover,
.lap:hover,
.pause:hover,
.resetLap:hover {
    border-radius: 20px;
    color: #393e46;
    background-color: #fff
}

/* kontener na main */
main.container {
    display: flex;
    flex-direction: column;
}

/* licznik czasu */

section.timer {
    flex-basis: 50%;
}

.time {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
}

.time p {
    color: white;
}

.time .timeplace {
    color: white;
}

/* ranking czasów */

section.list {
    flex-basis: 50%;
}

.lapRound {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
}

.lapRound p {
    color: white;
}

ul.lapList {
    color: white;
    list-style: none;
}

.green {
    color: #00ADB5;
}

.white {
    color: white;

}

@media (min-width: 768px) {
    nav.buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 100px;

        flex-basis: 100%;
        border-bottom: 2px solid #00ADB5;

    }

    .main,
    .reset,
    .lap,
    .pause,
    .resetLap {
        margin-right: 30px;
        margin-top: 100px;
        padding: 10px 30px;
        font-size: 30px;
        border: 0;
        color: #222831;
        background-color: #00adb5;
        transition: .5s;
    }

    /* kontener na main */

    main.container {
        display: flex;
        flex-direction: row;
    }

    /* licznik czasu */

    section.timer {
        flex-basis: 50%;
    }

    .time {
        font-size: 40px;
    }

    /* ranking czasów */

    section.list {
        flex-basis: 50%;
    }

    .lapRound {
        height: 100%;
        font-size: 40px;
    }

}

@media (min-width: 1024px) {
    nav.buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 100%;
        padding-bottom: 100px;
        border-bottom: 2px solid #00ADB5;
    }

    .main,
    .reset,
    .lap,
    .pause,
    .resetLap {
        margin-right: 30px;
        margin-top: 100px;
        padding: 10px 30px;
        font-size: 50px;
        border: 0;
        color: #222831;
        background-color: #00adb5;
        transition: .5s;
    }

    /* kontener na main */
    main.container {
        display: flex;
        flex-direction: row;
    }

    /* licznik czasu */

    section.timer {
        flex-basis: 50%;
    }

    .time {
        font-size: 60px;
    }

    /* ranking czasów */

    section.list {
        flex-basis: 50%;
    }

    .lapRound {
        height: 100%;
        font-size: 60px;
    }

    .lapList {
        text-align: center;
    }
}